button, input, select, textarea {
  font: inherit;
  margin: 0;
}

.name {
  float: left;
  width: 47%;
}

.email {
  float: right;
  width: 47%;
}

input[type='text'], [type='email'], select, textarea {
  background: none;
  border: none;
  border-bottom: solid 1px white;
  color: white;
  margin: 0 0 1.875rem 0;
  padding: 0 0 0.875rem 0;
  width: 100%;
  box-sizing: border-box;
  -webkit-transition: all var(--animd);
  transition: all var(--animd);
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
  padding: 0 0 0.875rem 0;
}

.subject {
  width: 100%;
}

textarea {
  resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
  color: white;
  opacity: .5;
}

form>div {
  margin: 2rem 0;
}

#form_button {
  background: none;
  border: solid 1px white;
  color: white;
  font-weight: bold;
  outline: none;
  padding: 1rem 2rem;
  -webkit-transition: color var(--animd), background-color var(--animd);
  transition: color var(--animd), background-color var(--animd);
}

#form_button:hover, #form_button:focus {
  background-color: white;
  color: black;
}

#form_button:focus {
  outline: solid 1px white;
  outline-offset: .2rem;
}