:root {
  --animd: .25s;
  --glitch-offset: .2rem;
  color-scheme: dark;
}

/* Text styling */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  mix-blend-mode: exclusion;
  font-weight: 100;
  font-family: 'Libre Barcode 39 Text', monospace;
}

h1 {
  position: sticky;
  top: 30%;
  font-size: 12rem;
  z-index: 5;
}

h2 {
  font-size: 8rem;
}

h3 {
  font-size: 6rem;
}

p {
  text-align: center;
  line-height: 1.5em;
}

/* svg icons can be inlined with links */

[class^="icon"] {
  width: 5rem;
  height: 5rem;
  position: relative;
  margin-right: 1rem;
}

a {
  transition: color var(--animd), background-color var(--animd);
  align-items: center;
  align-content: center;
}

a:link, a:visited {
  color: white;
}

a:hover, a:focus, a:active {
  background-color: white;
  color: black;
  outline-offset: .25rem;
}

::selection {
  background-color: red;
}

/* Layout Styling */

body {
  max-width: 100rem;
  margin: auto;
  overflow-x: hidden;
  background-color: black;
}

.row {
  display: flex;
  position: relative;
  overflow: hidden;
}

.column {
  flex: 50%;
}

img {
  width: 100%;
}

.heroSection {
  margin-bottom: 10rem;
}

.contentSection {
  padding: 12rem 2rem;
  position: relative;
}

/* a bunch of horizontally spaced links with icons (e.g. header or social) */

.linkBar {
  display: flex;
  justify-content: space-between;
}

.linkBar a {
  padding-bottom: 1.8rem;
}

.linkBar .icon {
  margin-bottom: -1.8rem;
}

/* Animations */

.fadein {
  animation: fade_in calc(3*var(--animd)) ease-in-out backwards;
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.delay1 {
  animation-delay: var(--animd);
}

.delay2 {
  animation-delay: calc(2*var(--animd));
}

.delay3 {
  animation-delay: calc(3*var(--animd));
}

.delay4 {
  animation-delay: calc(4*var(--animd));
}

.delay5 {
  animation-delay: calc(5*var(--animd));
}

/* Responsive Media Queries */

@media (max-width: 768px) {
  :root {
    font-size: 52.5%;
  }
  .contentSection {
    padding: 6rem 1rem;
  }
  h1 {
    font-size: 7.5rem;
  }
  h2 {
    font-size: 6rem;
  }
  h3 {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  :root {
    font-size: 62.5%;
  }
}

@media (min-width: 1370px) {
  :root {
    font-size: 100%;
  }
}

@media (min-width: 2600px) {
  :root {
    font-size: 125%;
  }
}

/* curtainjs specific styling */

#canvas {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  opacity: 0;
  transition: opacity calc(2*var(--animd)) ease-in calc(2*var(--animd));
}

.planes-loaded #canvas {
  opacity: 1;
}

.plane img {
  cursor: pointer;
}

.planes-loaded .plane img {
  opacity: 0;
}

/* Gallery styling */

body.is-fullscreen {
  overflow: hidden;
}

body.is-fullscreen #canvas {
  z-index: 20;
  background-color: black;
}

#galleryImage {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 2rem;
  z-index: 99;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#galleryImage .closeButton {
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 6rem;
  height: 6rem;
  color: white;
}

.multi-textures img {
  display: none;
  width: 100%;
  height: 100%;
}

body.is-fullscreen #galleryImage {
  display: inherit;
}