:root {
  --text-color: black;
  --underline-color: #00ff6a;
}

body {
  font-size: 2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  color: var(--text-color);
  padding: 1rem;
}

.headerBackdrop {
  background-color: var(--underline-color);
  background: linear-gradient(90deg, var(--underline-color), var(--underline-color));
  width: 100%;
  text-overflow: clip;
  word-wrap: break-word;
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% 80%;
}

h1 {
  font-size: 2.5em;
  margin-top: 0;
  letter-spacing: 15px;
  line-height: 90%;
  hyphens: auto;
}

a:link {
  text-decoration: none;
  color: var(--text-color);
  background: linear-gradient(0deg, var(--underline-color), var(--underline-color));
  background-size: 3px 3px;
  background-repeat: repeat-x;
  background-position: 0 100%;
  transition: background-size .2s;
}

a:visited {
  color: #262626;
}

a:hover, a:focus {
  background-size: 3px 90%;
}

@media(min-width: 1000px) {
  .headerBackdrop {
    position: absolute;
    left: 0;
    writing-mode: vertical-lr;
    background-position: 2em 0;
    background-size: 5.5em;
    width: initial;
  }
  h1 {
    font-size: 4em;
  }
  ul {
    padding-left: 12em;
  }
}

@media(max-width: 500px) {
  h1 {
    font-size: 2.3em;
  }
}