:root {
  --text-color: black;
  --underline-color: #00ff6a;
}

body {
  font-size: 200%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
  padding: 3rem;
}

a:link {
  color: var(--text-color);
  text-decoration: wavy;
  background: linear-gradient(to bottom, var(--underline-color) 0%, var(--underline-color) 100%);
  background-size: 3px 3px;
  background-repeat: repeat-x;
  background-position: 0 100%;
  transition: background-size .2s;
}

a:hover, a:focus {
  background-size: 3px 90%;
}